* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main {
    width: 600px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(80, 79, 79, 0.35) 0px 5px 15px;
}

.card-left {
    flex: 50%;
    background: rgb(136,76,255);
background: linear-gradient(180deg, rgba(136,76,255,1) 0%, rgba(54,36,255,1) 100%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.card-right {
    flex: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    background: rgb(86,47,217);
    background: linear-gradient(180deg, rgba(86,47,217,1) 0%, rgba(78,60,241,1) 100%);
    border-radius: 100%;
    width: 210px;
    height: 200px;
}
.circle h1{
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.circle p{
    font-size: 1rem;
    margin-top: 0px;
}
.btn{
    background-color: rgb(28, 26, 138);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
}

.resultHead
{
    font-size: 20px;
    font-weight: 400;
}
.btn:hover{
    background-color: rgb(28, 26, 138);
}
.btn:focus{
    outline-style: none;
}
.attribution {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.conclusion
{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.conclusion h1{
    font-size: 30px;

}
.conclusion p{
    font-size: 14px;
    font-weight: 400;
}
.summary
{
    color: rgb(74, 74, 74);
    font-weight: 600;
}

.eachScore:nth-child(1)
{
    background-color: azure;

}
.eachScore:nth-child(2)
{
    background-color: rgb(54, 99, 99);

}

.eachScore:nth-child(3)
{
    background-color: azure;

}
.eachScore:nth-child(4)
{
    background-color: rgb(54, 99, 99);

}
.scores
{
    display: flex;
    flex-direction: column;
}

.eachScore
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
@media (max-width:600px)
{
    .main{
        width: 300px;
        flex-direction: column;
    }
}